<title>DomainEvaluator</title>
<div id="wrapper">

    <sidebar></sidebar>

    <div id="page-wrapper" class="gray-bg">
        <topbar></topbar>

        <!-- Main body -->
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            Welcome to the DomainEvaluator Beta!
                        </h1>
                        <small>
                            It is an application designed to help you to calculate instrinsic domain values.
                        </small>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 25px">

                <router-outlet>

            </div>

        </div>

        <footer></footer>

    </div>
</div>

</body>
